[submodule "wine"]
        path = wine
        url = ../wine
[submodule "dxvk"]
        path = dxvk
        url = git@github.com:ValveSoftware/dxvk.git
[submodule "openvr"]
        path = openvr
        url = git@github.com:ValveSoftware/openvr.git
[submodule "fonts/liberation-fonts"]
        path = fonts/liberation-fonts
        url = git@github.com:liberationfonts/liberation-fonts.git
[submodule "gstreamer"]
        path = gstreamer
        url = git@github.com:GStreamer/gstreamer.git
[submodule "gst-orc"]
        path = gst-orc
        url = git@github.com:GStreamer/orc.git
[submodule "vkd3d-proton"]
        path = vkd3d-proton
        url = git@github.com:HansKristian-Work/vkd3d-proton.git
[submodule "OpenXR-SDK"]
        path = OpenXR-SDK
        url = git@github.com:KhronosGroup/OpenXR-SDK.git
[submodule "dxvk-nvapi"]
        path = dxvk-nvapi
        url = git@github.com:jp7677/dxvk-nvapi.git
[submodule "vkd3d"]
        path = vkd3d
        url = git@github.com:ValveSoftware/vkd3d.git
[submodule "Vulkan-Headers"]
        path = Vulkan-Headers
        url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "SPIRV-Headers"]
        path = SPIRV-Headers
        url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "Vulkan-Loader"]
        path = Vulkan-Loader
        url = git@github.com:KhronosGroup/Vulkan-Loader.git
[submodule "gst-libav"]
        path = gst-libav
        url = git@github.com:GStreamer/gst-libav.git
[submodule "ffmpeg"]
        path = ffmpeg
        url = git@github.com:FFmpeg/FFmpeg.git
[submodule "dav1d"]
        path = dav1d
        url = git@github.com:videolan/dav1d.git
[submodule "gst-plugins-rs"]
        path = gst-plugins-rs
        url = git@github.com:sdroege/gst-plugin-rs.git
[submodule "graphene"]
        path = graphene
        url = https://github.com/ebassi/graphene.git
[submodule "glslang"]
        path = glslang
        url = git@github.com:KhronosGroup/glslang.git
